---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <p style="text-align:justify">{{ content }}</p>
</br>

  <div class="btn-group" style="width:100%; height: 80px">
    <div>
      <button onclick="window.location.href='/site/pesquise'" style="width:50%; height: 50%">Pesquise</button>
    </div>
    <div>
      <button onclick="window.location.href='/site/aprenda'" style="width:50%; height: 50%">Aprenda</button>
    </div>
  </div>
  
  <div class="btn-group" style="width:100%">
    <div>
      <button onclick="window.location.href='/site/construa'" style="width:50%">Construa</button>
  </div>
    <div>
      <button onclick="window.location.href='/site/divulgue'" style="width:50%">Divulgue</button>
    </div>
  </div>

</div>
