---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <p style="text-align:justify">{{ content }}</p>


  <div>
    <button onclick="window.location.href='https://w3docs.com';">
      Pesquise
    </button>
  </div>

  <div>
    <button onclick="window.location.href='https://w3docs.com';">
      Aprenda
    </button>
  </div>

  <div>
    <button onclick="window.location.href='https://w3docs.com';">
      Construa
    </button>
  </div>

  <div>
    <button onclick="window.location.href='https://w3docs.com';">
      Divulgue
    </button>
  </div>

</div>
